styles.css

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}


nav{
display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
#searchInput {
  color: #0812a1;
  background-color: #141617;
  display: flex;
  align-items: center;
  border: 1px solid #2f00ff3d;
  padding: 5px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  transition: width 1.5s;
}
.input {
  margin: 10px 50px;
  margin-left: 20px;
  width: 100%;
  color: #0fd515;
  border: none;
  background: transparent;
  outline: none;
  transition-delay: 0.5s;
}
#foodList {
  margin-top: 20px;
}

.foodItem {
  border-bottom: 1px solid #0f2188;
  padding: 10px;
}

#foodDetails {
  padding: 20px;
}

#cartItems {
  margin-top: 20px;
}

.cartItem {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

#totalPrice {
  text-align: right;
  margin-top: 10px;
}

#checkoutBtn {
  display: block;
  margin-top: 10px;
}

  .product {
    width: 300px; 
    height: 400px; 
    border: 1px solid #ccc;
    position: relative;
    margin: 0 auto;
  }
  
  .wishlist-button {
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    outline: none; /* Remove default button outline */
  }
  
  .wishlist-button i {
    color: #ccc; /* Adjust default color */
    transition: color 0.2s ease-in-out; /* Smooth color change */
  }
  
  .wishlist-button.active i {
    color: red; /* Wishlist color */
  }
  
